<h1>Editing Boook</h1>

<%= form_with model:@book, url: update_book_path(@book.id), method: :patch do |f| %>

  <h2>Title</h2>
  <%= f.text_field :title %>

  <h2>Body</h2>
  <%= f.text_field :body %>

  <%= f.submit 'Update Book' %>
  
<% end %>

<%= link_to "Show", %>
<%= link_to "Back", %>

<td><%= link_to "Edit", %></td>
      <td><%= link_to "Destroy", %></td>